@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --vh: 1vh;
    --vw: 1vw;
}

html,
body {
    height: calc(var(--vh) * 100);
    width: calc(var(--vw) * 100);
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

div.swiper-button-prev,
div.swiper-button-next {
    color: white;
    background: rgba(0, 0, 0, 0.1)
}

span.swiper-pagination-bullet {
    background-color: white;
}
